section.features {
  width: 1200px;
  margin: auto;
  color: #ffffff;
  background-color: #ffffff05;
  text-align: center;
  .container {
    width: 1000px;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    h2 {
      font-size: 4rem;
      font-weight: 700;
      color: #9c27b0;
      margin-bottom: 3rem;
    }
    ul {
      li {
        list-style-type: none;
        margin: 2rem;
        padding: 2rem;
        width: 80%;
        border: 2px dotted #9c27b0;
        border-radius: 10px;
        .list-item {
          display: flex;
          .emoji {
            font-size: 20px;
          }
          h3 {
            margin-top: 0;
            margin-left: 1rem;
            color: #18ffe3;
          }
        }
        p {
          font-size: 2rem;
          color: #fff;
          margin-left: 2rem;
        }
      }
    }
  }
}

// Mobile Styles
@media (max-width: 768px) {
  section.features {
    width: 100% !important;
 .container {
    width: 100% !important;
  }

  }

  section.features .container ul li {
    padding: 1rem;
    margin: 1rem;
  }

  section.features .container ul li .list-item {
    flex-direction: column;
  }

  section.features .container ul li .list-item h3 {
    margin-left: 0;
  }

  section.features .container ul li p {
    font-size: 1rem;
    margin-left: 0;
  }
}
