.footer-container {
  max-width: 55rem;
  text-align: center;
  margin: 0 auto;
  padding: 0 2rem;
}

.socials {
  margin-top: 2rem;

  a {
    color: white;
    i {
      font-size: 35px;
      margin-right: 3rem;
    }
  }
}
