.footer-container {
  max-width: 55rem;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0 5rem 0;
}

.socials {
  margin-top: 2rem;

  a {
    color: white;
    i {
      font-size: 35px;
      margin-right: 3rem;
    }
  }
}

.aquarian-metals-logo {
  align-items: center;
  width: 300px;
  margin: auto;
  background: #647882;
  border-radius: 10px;
  padding: 5px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
