/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  color: white;
  background: linear-gradient(157deg, rgb(18, 52, 58) 32%, rgb(25, 6, 31) 96%);
}

.app-container {
  // what color should we use?
}
