<app-header></app-header>

<!-- Hero Section -->
<app-hero-section></app-hero-section>

<section class="hero-section">
  <div class="hero">
    <div class="container">
      <h2>
        Fundamental analysis, <span style="color: #9c27b0">elevated</span>
      </h2>
      <p>
        <i style="color: #18ffe3">Fundamentally</i> is a revolutionary
        investment research and portfolio management platform that streamlines
        the fundamental analysis process, making it easier for anyone to assess
        and compare assets, identify opportunities, and optimize their
        portfolios.
      </p>
    </div>
  </div>
</section>

<app-problem-section></app-problem-section>

<!-- Features Section -->
<app-features-section></app-features-section>

<section>
  <div class="so-much-more">
    <h1>There's so much more!</h1>
    <p>
      <i style="color: #18ffe3">Fundamentally</i> isn't just about evaluating
      cryptocurrency assets. We can expand this software to include stocks and
      other commodities, real esate, and more. Any asset that can be evaluated
      using Fundamental Analysis is a candidate for our software, essentially
      expanding the market reach far beyond mere cryptocurrencies.
    </p>
  </div>
</section>

<section>
  <div id="investments" class="investment">
    <h1>Become an Investor</h1>
    <p>
      Please reach out if you're interested learning about investment
      opportunities. We're pre-startup and have a working prototype. In the
      meantime, you can download our promotional business plan here.
    </p>
    <p id="contact">
      For all inquires please reach out to David at
      <a href="mailto:david@biomance.com" style="color: #18ffe3"
        >david&#64;biomance.com</a
      >
    </p>
    <p>
      <button class="bplan-btn" (click)="viewPdf()">
        Download our Pre-Startup Business Plan here.
      </button>
    </p>
  </div>
</section>

<!-- Footer Section -->
<footer>
  <div class="container">
    <p>
      Fundamentally is the product created by
      <a style="color: #18ffe3" href="https://www.biomance.com/" target="self"
        >Biomance Technologies, LLC</a
      >
    </p>
    <p>&copy; 2024 Biomance Technologies. All Rights Reserved.</p>
  </div>
</footer>
