@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

// Global Styles

.header-styling {
  background-color: #0000003d;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.cta-btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background-color: #0081ff;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cta-btn:hover {
  background-color: #0070cc;
}

// Hero Section
.hero-section {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    width: 1200px;
    margin: auto;
    margin-top: 4rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;

    h2 {
      font-size: 6rem;
      font-weight: 700;
      text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }

    p {
      font-size: 2.4rem;
      margin-bottom: 3rem;
      text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }
  }
}

// Features Section Styles
#features {
  padding: 10rem 0;
}

#features h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 5rem;
}

#features p {
  font-size: 2rem;
  color: #666;
  max-width: 80rem;
  margin: 0 auto 5rem;
  text-align: center;
}

.feature-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto 10rem;
}

.feature-box img {
  width: 30%;
  height: auto;
  margin-right: 5rem;
}

.feature-box h3 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.feature-box p {
  font-size: 2rem;
  color: #666;
  line-height: 1.6;
}

// Pricing Section Styles
#pricing {
  padding: 10rem 0;
}

#pricing h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 5rem;
}

.pricing-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.pricing-card {
  flex-basis: 30%;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.pricing-card:hover {
  transform: translateY(-1rem);
}

.pricing-card h3 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.pricing-card p {
  font-size: 2rem;
  color: #666;
  margin-bottom: 3rem;
}

.pricing-card .price {
  font-size: 4rem;
  font-weight: 700;
  color: #0081ff;
  margin-bottom: 3rem;
}

.pricing-card .period {
  font-size: 2rem;
  color: #666;
}

.pricing-card .cta-btn {
  margin-top: 3rem;
}

.pricing-structure {
  display: inline-flex;
}
