<app-header></app-header>

<!-- Hero Section -->
<app-hero-section></app-hero-section>

<section class="hero-section">
  <div class="hero">
    <div class="container">
      <h2>Fundamental analysis, <span style="color: #9c27b0;">elevated</span></h2>
      <p>
        <i style="color:#18ffe3;">Fundamentally</i> is a revolutionary investment research and
        portfolio management platform that streamlines the fundamental analysis
        process, making it easier for anyone to assess and compare assets,
        identify opportunities, and optimize their portfolios.
      </p>
    </div>
  </div>
</section>

<app-problem-section></app-problem-section>

<!-- Features Section -->
<app-features-section></app-features-section>



<!-- Footer Section -->
<footer>
  <div class="container">
    <p>&copy; 2024 Biomance Technologies. All Rights Reserved.</p>
  </div>
</footer>

<!-- <script src="js/script.js"></script> -->
<!-- </body>
</html> -->
