// Header Styles
.header-styling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2392156863);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4196078431);
  backdrop-filter: blur(10px);
  z-index: 9999;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #0081ff;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 2rem;
}

header nav a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #18ffe3;
}

.nav-container {
  width: 100%;
  display: flex;
  margin-left: 2rem;
}

.nav-list {
  list-style-type: none;
}

.logo-container {
  display: flex;
}

.text-logo {
  font-size: 35px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-weight: 100;
}

.aquarian-metals-logo {
  margin-right: 3rem;
  display: flex;
}

// Aquarian Metals Logo Styles
.aquarian-metals-logo {
  &__text {
    padding-top: 5px;
    padding-right: 5px;
  }

  &__link {
    color: white;
    text-decoration: none;
  }

  &__container {
    padding: 3px 3px 0px 3px;
    background: #637881;
    border-radius: 7px;
  }

  &__image {
    width: 100px;
    border-radius: 10px;
  }
}

// Mobile Styles
@media (max-width: 768px) {
  .aquarian-metals-logo {
    display: none;
  }

  header .container {
    height: auto;
  }

  .nav-container {
    flex-direction: column;
    margin-left: 0;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2392156863);
  }

  .nav-list.visible {
    display: flex;
  }

  header nav li {
    margin: 1rem 0;
  }

  header nav a {
    font-size: 1.5rem;
  }

  .logo-container {
    align-items: center;
  }

  .text-logo {
    font-size: 25px;
  }

  button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }
}

.header-right-wrapper {
  display: flex;
  align-items: center;

  .login-container {
    margin-bottom: 3px;

    .login-link {
      color: white;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 700;
      cursor: pointer;
      margin-right: 3rem;

      &:hover {
        color: #18ffe3;
      }
    }
  }
}