section.section-background {

	.problem-container {
    width: 1200px;
    margin: auto;
		.container {
      font-size: 20px;
      background-color: #00000047;
      padding: 4rem;
      margin-top: 4rem;
			.title {

				h2 {
          color: #9c27b0;
          margin-top: 0;
				}
				h3 {

				}
			}
			.problem-description {

			}
		}

	}
}

.asset-details-img {
  width: 100%;
  margin: auto;
  text-align: center;
  p {
    margin-top: 6rem;
  }

  .asset-img {
    border: 1px solid white;
    border-radius: 10px;
  }
}
