section.section-background {

	.problem-container {
    width: 1200px;
    margin: auto;
		.container {
      font-size: 20px;
			.title {

				h2 {

				}
				h3 {

				}
			}
			.problem-description {

			}
		}
	}
}
