section.section-background {
  .problem-container {
    width: 1200px;
    margin: auto;
    .container {
      font-size: 18px;
      background-color: #00000047;
      padding: 2rem;
      margin-top: 2rem;
      .title {
        h2 {
          color: #9c27b0;
          margin-top: 0;
        }
        h3 {
        }
      }
      .problem-description {
      }
    }
  }
}

.asset-details-img {
  width: 100%;
  margin: auto;
  text-align: center;
  .feature-title {
    margin-top: 3rem;
    margin-bottom: 0;
  }
  p {
    margin-top: 1rem;
  }

  .asset-img {
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
  }
}

// Mobile Styles
@media (max-width: 768px) {
  .problem-container {
    width: 80% !important;
    margin: auto;
    .container {
      padding: 1rem;
      margin-top: 1rem;
    }
  }

  .problem-container .container .title h2 {
    font-size: 1.5rem;
  }

  .problem-container .container .title h3 {
    font-size: 1.2rem;
  }

  .asset-details-img .feature-title {
    margin-top: 2rem;
  }

  .asset-details-img p {
    font-size: 1rem;
  }
}
